.name {
    width: 500px;
}

.poltavacom {
    position: absolute;
    top: 76%;
    left: 13%;
    text-shadow: 0 5px 6px rgba(0, 0, 0, 0.15);
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    transition: 0.2s ease-in-out;
}

.down:hover .poltavacom {
    color: #ff8800;
    transition: 0.2s ease-in-out;
}

.first {
    height: 1050px !important;
    background-image: url(../images/poltavamain.png) !important;
}

@media screen and (max-width:1600px) {
    .second .descrip {
        margin-left: 13.5% !important;
    }

    .third .descrip {
        margin-left: unset;
        margin-right: 3%;
    }

    .third img {
        margin-right: 3%;
    }
}